# Maven
target/

# Gradle
build/
.gradle/

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Eclipse
.classpath
.project
.settings/

# NetBeans
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# Betriebssystem-spezifische Dateien
.DS_Store
Thumbs.db

# Sonstige Dateien und Ordner
*.log
*.tmp
temp/

# Binary-Dateien und Ordner
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Log-Dateien
*.log
